body {
    background-color: #101720;
    color: #dce3ea;
    font-family: 'Fira Code', monospace;
    padding: 30px;
}

.typing {
    font-family: 'Pixelify Sans', cursive;
    font-size: 2em;
    width: fit-content;
    border-right: 2px solid #dce3ea;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(30), blink 0.7s step-end infinite;
}

.finished {
    border-right: none;
    animation: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent }
}

#start {
    margin-top: 20px;
    line-height: 1.6;
}

.lock-inputs {
    margin-top: 30px;
}

input, button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 6px;
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    border: 1px solid #555;
    background-color: #1e2a38;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: #3c8dbc;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ca5;
}

.pass2, .pass3, .pass4 {
    display: none;
}
